body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
:root {
  --brand-color: #434455;
  --brand-color-1: #4d5ae5;
  --brand-color-2: #ffffff;
  --brand-color-3: #2E2F42;
  --brand-color-4: #404bbf;
  --brand-color-5: #F4F4FD;
}
.container {
  width: 1158px;
  margin: 0px auto;
}
section {
	padding-top: 120px;
	padding-bottom: 120px;
}
header {
  border-bottom: 1px solid #e7e9fc;
}
.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav {
	display: flex;
}
nav .list {
	align-items: flex-start;
	gap: 40px;
	padding: 24px 0px 24px 76px;
	margin: 0px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-1);
  padding:24px 0px 24px 15px;
}
.link {
  text-decoration:none;
}
.logo-col {
  color: var(--brand-color-3);
}
.list {
  list-style: none;
  display: flex;
}
.menu { 
  color: var(--brand-color-3);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu:hover,
.menu:focus {
  color: var(--brand-color-4);
}
address .list {
	padding: 24px 0px 24px 332px;
	gap: 40px;
	margin: 0px;
}
.contact {
    font-style: normal;
    list-style: none;
}
.cont {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.cont:hover,
.cont:focus {
    color: var(--brand-color-4);
}
.hero-image {
  background-color: var(--brand-color-3);
}
.hero-image-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 68px 0;
}
.tagline {
  color: var(--brand-color-2);
  max-width: 496px;
	width: 100%;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.order-service {
  font-weight: 500;
  font-size: 16px;
  background-color: var(--brand-color-1);
  color: var(--brand-color-2);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
}
.order-service:hover,
.order-service:focus {
    background-color: var(--brand-color-4);
}
.section-1 .list {
	padding: 0 15px;
  margin: 0;
  gap: 24px;
}
.section-1 h2 {
  display: none;
  margin: 0;
}
.feature-text {
  line-height: 1.5;
  font-size: 16px;
  color: var(--brand-color);
  letter-spacing: 0.02em;
  margin: 8px 0 0 0;
}
.feature {
  font-size: 20px;
  color: var(--brand-color-3);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
}
.section-2 {
  padding-top: 0px;
}
.w_a_w_d {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-color-3);
    margin: 0;
}
.section-2 .list {
  margin: 72px 0px 0 0px;
  padding: 0 15px;
  gap: 24px;
}
.section-3 {
    background-color: var(--brand-color-5);
}
.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-color-3);
    margin: 0;
}
.section-3 .list {
  margin: 72px 0px 0 0px;
  padding: 0 15px;
  gap: 24px;
}
.card {
    background-color: var(--brand-color-2);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    
}
.name {
    font-size: 20px;
    color: var(--brand-color-3);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 0px;
  text-align: center;

}
.work-position {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-top: 8px;
    margin-bottom: 32px;
    text-align: center;
}
footer {
  background-color: var(--brand-color-3);
  color: var(--brand-color-5);
}
.footer .logo {
  display: flex;
  padding:100px 0px 0px 15px;
}
.logo-col-w {
    color: var(--brand-color-5);
}
.text-footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 279px;
	width: 100%;
  padding:16px 0px 100px 15px;
}
/* portfolio styles */
.filter {
  padding-top: 96px;
}
.filter h1 {
  display: none;
  margin: 0;
}
.buttons {
  margin-top: 0px;
  margin-bottom: 0px;
padding: 0px;
gap: 24px;
justify-content: center;
}
.filter-button {
  background-color: var(--brand-color-5);
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid #E7E9FC;
border-radius: 4px;
padding: 12px 24px;

}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--brand-color-4);
  color: var(--brand-color-2);
}
.portfolio {
  flex-wrap: wrap;
  padding: 72px 0px 0px 0px;
  margin: 0;
  gap: 24px;
}
.portfolio li {
  flex-basis: calc((100%-30px)/ 3);
  width: 360px;
}
.img {
  display: block;
}
.border {
  width: 360px;
  background-color: var(--brand-color-2);
  border: 1px solid #E7E9FC;
}
.project-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color-3);
    margin-top: 32px;
    margin-left: 16px;
    margin-bottom: 0px;
}
.type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
}